html{
    background-color: wheat;
    font-family: "Winky Rough", sans-serif;
}
header{
    text-align: center;
}
#header{
    background-color: #77BEF0;
    padding: 20px;
}
#nav-div{
    background-color: #FFCB61;
    margin-top: -16px;
}
#nav-div>nav>ul>li{
    display: inline-block;
    padding: 10px;
}
a{
    text-decoration: none;
    color: white;
}
h1,h2{
    color: #EA5B6F;
}
#content{
    margin-left: 5%;
}
footer{
    text-align: center;
    background-color: #FFCB61;
    padding: 2px;
}
img{
    border-radius: 2%;
}