html{
    font-family: "Winky Rough", sans-serif;
}
img{
    border-radius: 2%;
}
#header{
    text-align: center;
    background-color: #9ECAD6;
    padding: 10px;
}
h1,h2{
    color: #748DAE;
}
#nav-div{
    text-align: center;
    background-color: #FFEAEA;
    margin-top: -15px;
}
#nav-div>nav>ul>li{
    display: inline-block;
    padding: 10px;
}
a{
    text-decoration: none;
    color: black;
}
#content{
    margin-left: 5%;
}